<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <%- include("partials/header.ejs")%>
    <%- include("partials/estilos.ejs")%>
</head>

<body>

    <div class="imagen"> </div>

    <div class="Informacion">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nesciunt alias deserunt, corrupti animi beatae ea dolorem ratione! Totam optio illum obcaecati a nam amet incidunt dolorum molestias ad animi?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptate, ut cumque accusamus numquam molestias velit excepturi, beatae laboriosam aperiam quisquam unde tenetur totam aliquam quod ducimus? Quam, architecto at!


        <div class="Mostrar">
            <div class="Letras">
                <h1>HTML</h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, minus? Vero eveniet eos quam fugit tenetur ipsam exercitationem assumenda, similique sapiente iusto dolore autem in quae! Maxime dolorum est quos!
            </div>

            <div class="Letras">
                CSS
            </div>

            <div class="Letras">
                IMAGEN
            </div>
        </div>
    </div>

    
</body>
</html>