<!DOCTYPE html>
<html lang="en">

<head>
    <title>Letra A</title>
    <%- include("partials/header.ejs")%>
    <%- include("partials/estilos.ejs")%>
    <link rel="stylesheet" href="/js/Mostrar-Glosario.js">
    
</head>

<body>

    <div id="Icono-Buscar">
        <i class="fas fa-search" id="funcion-buscar"></i>
    </div>
    </div>

    <div id="Barra-Lateral">
        <i class="fas fa-bars"></i>
    </div>
    </header>


    <div id="Mostrar-Busqueda">
        <input type="text" id="BuscarPalabra" placeholder="¿Qué deseas buscar?">
    </div>

    <div id="Funcion-Buscador"></div>

    <div class="container-all" id="move-content">

        <div class="Letras">
            <div class="Mostrar-Letras">
                <a href="/Glosario_A/Glosario_A.html">a</a>
                <a href="/Glosario_B/Glosario_B.html">b</a>
                <a href="/Glosario_C/Glosario_C.html">c</a>
                <a href="/Glosario_D/Glosario_D.html">d</a>
                <a href="/Glosario_E/Glosario_E.html">e</a>
                <a href="/Glosario_F/Glosario_F.html">f</a>
                <a href="/Glosario_G/Glosario_G.html">g</a>
                <a href="/Glosario_H/Glosario_H.html">h</a>
                <a href="/Glosario_I/Glosario_I.html">i</a>
                <a href="/Glosario_J/Glosario_J.html">j</a>
                <a href="/Glosario_K/Glosario_K.html">k</a>
                <a href="/Glosario_L/Glosario_L.html">l</a>
                <a href="/Glosario_M/Glosario_M.html">m</a>
                <a href="/Glosario_N/Glosario_N.html">n</a>
                <a href="/Glosario_O/Glosario_O.html">o</a>
                <a href="/Glosario_P/Glosario_P.html">p</a>
                <a href="/Glosario_Q/Glosario_Q.html">q</a>
                <a href="/Glosario_R/Glosario_R.html">r</a>
                <a href="/Glosario_S/Glosario_S.html">s</a>
                <a href="/Glosario_T/Glosario_T.html">t</a>
                <a href="/Glosario_U/Glosario_U.html">u</a>
                <a href="/Glosario_V/Glosario_V.html">v</a>
                <a href="/Glosario_W/Glosario_W.html">w</a>
                <a href="/Glosario_X/Glosario_X.html">x</a>
                <a href="/Glosario_Y/Glosario_Y.html">y</a>
                <a href="/Glosario_Z/Glosario_Z.html">z</a>
            </div>
        </div>

        <div class="Imagen-Glosario"></div>

        <div class="Mostrar-Glosario">
            <div class="Mostrar-Palabras">

                <form method="POST" action="/MandarInfo" class="card card-body">

                    <div class="Palabras">
                        <p>Antiquimiotripsina</p>
                        <input type="button" value="Mostrar-Info" class="btn btn-primary" id="1">
                    </div>

                    <!-- 2 -->

                    <div class="Palabras">
                        <p>Adrenérgicos-bloqueantes</p>
                        <button class="Boton-Busqueda" id="btnOcultarAdrenérgicosbloqueantes">Ocultar
                            Información</button>
                        <button class="Boton-Busqueda" id="btnMostrarAdrenérgicosbloqueantes">Mostrar
                            Información</button>
                    </div>

                    <!-- 3 -->

                    <div class="Palabras">
                        <p>Aglucano</p>
                        <button class="Boton-Busqueda" id="btnOcultarAglucano">Ocultar Información</button>
                        <button class="Boton-Busqueda" id="btnMostrarAglucano">Mostrar Información</button>
                    </div>

                    <!-- 4 -->

                    <div class="Palabras">
                        <p>Aglucano-maltohidrolasa</p>
                        <button class="Boton-Busqueda" id="btnOcultarAglucanomaltohidrolasa">Ocultar
                            Información</button>
                        <button class="Boton-Busqueda" id="btnMostrarAglucanomaltohidrolasa">Mostrar
                            Información</button>
                    </div>

                    <!-- 5 -->

                    <div class="Palabras">
                        <p>A-talasemia alfa talasemia</p>
                        <button class="Boton-Busqueda" id="btnOcultarAtalasemiaalfatalasemia">Ocultar
                            Información</button>
                        <button class="Boton-Busqueda" id="btnMostrarAtalasemiaalfatalasemia">Mostrar
                            Información</button>
                    </div>

                </form>
            </div>


        </div>


</body>
<script src="\js\Buscador.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        $(".loader").fadeOut("slow");
    });
</script>

</html>