<!DOCTYPE html>
<html lang="en">

<head>
    <title>Letra A</title>
    <%- include("partials/header.ejs")%>
    <%- include("partials/estilos.ejs")%>
</head>

<body>

            <div id="Icono-Buscar">
                <i class="fas fa-search" id="funcion-buscar"></i>
            </div>
        </div>

        <div id="Barra-Lateral">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    
    <div id="Mostrar-Busqueda">
        <input type="text" id="BuscarPalabra" placeholder="¿Qué deseas buscar?">
    </div>

    <ul id="Sugerencias">
        <li><a href="articulo.html"><i class="fas fa-search"></i>HTML</a></li>
        <li><a href="articulo.html"><i class="fas fa-search"></i>CSS</a></li>
        <li><a href="articulo.html"><i class="fas fa-search"></i>JavaScript</a></li>
        <li><a href="articulo.html"><i class="fas fa-search"></i>PHP</a></li>
        <li><a href="articulo.html"><i class="fas fa-search"></i>NODEJS</a></li>
        <li><a href="articulo.html"><i class="fas fa-search"></i>VUEJS</a></li>
        <li><a href="/Programacion/Pestaña_Programacion.html"><i class="fas fa-search"></i>Como hacer</a></li>
        <li><a href="articulo.html"><i class="fas fa-search"></i>Como crear</a></li>
    </ul>

    <div id="Funcion-Buscador"></div>

    <div class="container-all" id="move-content">

    <div class="Letras">
        <div class="Mostrar-Letras">
            <a href="/Glosario_A/Glosario_A.html" style="background-color: brown;">a</a>
            <a href="/Glosario_B/Glosario_B.html">b</a>
            <a href="/Glosario_C/Glosario_C.html">c</a>
            <a href="/Glosario_D/Glosario_D.html">d</a>
            <a href="/Glosario_E/Glosario_E.html">e</a>
            <a href="/Glosario_F/Glosario_F.html">f</a>
            <a href="/Glosario_G/Glosario_G.html">g</a>
            <a href="/Glosario_H/Glosario_H.html">h</a>
            <a href="/Glosario_I/Glosario_I.html">i</a>
            <a href="/Glosario_J/Glosario_J.html">j</a>
            <a href="/Glosario_K/Glosario_K.html">k</a>
            <a href="/Glosario_L/Glosario_L.html">l</a>
            <a href="/Glosario_M/Glosario_M.html" style="background-color: brown;">m</a>
            <a href="/Glosario_N/Glosario_N.html">n</a>
            <a href="/Glosario_O/Glosario_O.html">o</a>
            <a href="/Glosario_P/Glosario_P.html">p</a>
            <a href="/Glosario_Q/Glosario_Q.html">q</a>
            <a href="/Glosario_R/Glosario_R.html">r</a>
            <a href="/Glosario_S/Glosario_S.html">s</a>
            <a href="/Glosario_T/Glosario_T.html">t</a>
            <a href="/Glosario_U/Glosario_U.html">u</a>
            <a href="/Glosario_V/Glosario_V.html">v</a>
            <a href="/Glosario_W/Glosario_W.html">w</a>
            <a href="/Glosario_X/Glosario_X.html">x</a>
            <a href="/Glosario_Y/Glosario_Y.html">y</a>
            <a href="/Glosario_Z/Glosario_Z.html">z</a>
        </div>
    </div>

    <div class="Imagen-Glosario"></div>

    <div class="Mostrar-Glosario">
        <div class="Mostrar-Palabras">
            <!-- 1 -->
            <div class="Palabras">
                <p>Antiquimiotripsina</p>
                <button class="Boton-Busqueda" id="btnOcultarAntiquimiotripsina">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAntiquimiotripsina">Mostrar Información</button>
            </div>

            <!-- 2 -->

            <div class="Palabras">
                <p>Adrenérgicos-bloqueantes</p>
                <button class="Boton-Busqueda" id="btnOcultarAdrenérgicosbloqueantes">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAdrenérgicosbloqueantes">Mostrar Información</button>
            </div>

            <!-- 3 -->

            <div class="Palabras">
                <p>Aglucano</p>
                <button class="Boton-Busqueda" id="btnOcultarAglucano">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAglucano">Mostrar Información</button>
            </div>

            <!-- 4 -->

            <div class="Palabras">
                <p>Aglucano-maltohidrolasa</p>
                <button class="Boton-Busqueda" id="btnOcultarAglucanomaltohidrolasa">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAglucanomaltohidrolasa">Mostrar Información</button>
            </div>

            <!-- 5 -->

            <div class="Palabras">
                <p>A-talasemia alfa talasemia</p>
                <button class="Boton-Busqueda" id="btnOcultarAtalasemiaalfatalasemia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAtalasemiaalfatalasemia">Mostrar Información</button>
            </div>

            <!-- 6 -->

            <div class="Palabras">
                <p>A-tocoferol</p>
                <button class="Boton-Busqueda" id="btnOcultarAtocoferol">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAtocoferol">Mostrar Información</button>
            </div>

            <!-- 7 -->

            <div class="Palabras">
                <p>Abarognacia</p>
                <button class="Boton-Busqueda" id="btnOcultarAbarognacia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAbarognacia">Mostrar Información</button>
            </div>

            <!-- 8 -->

            <div class="Palabras">
                <p>Abarticulación</p>
                <button class="Boton-Busqueda" id="btnOcultarAbarticulación">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAbarticulación">Mostrar Información</button>
            </div>

            <!-- 9 -->

            <div class="Palabras">
                <p>Abarticular</p>
                <button class="Boton-Busqueda" id="btnOcultarAbarticular">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAbarticular">Mostrar Información</button>
            </div>

            <!-- 10 -->

            <div class="Palabras">
                <p>Abartrosis</p>
                <button class="Boton-Busqueda" id="btnOcultarAbartrosis">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAbartrosis">Mostrar Información</button>
            </div>

            <!-- 11 -->

            <div class="Palabras">
                <p>Abasia</p>
                <button class="Boton-Busqueda" id="btnOcultarAbasia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAbasia">Mostrar Información</button>
            </div>

            <!-- 12 -->

            <div class="Palabras">
                <p>Abasico</p>
                <button class="Boton-Busqueda" id="btnOcultarAbasico">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAbasico">Mostrar Información</button>
            </div>

            <!-- 13 -->

            <div class="Palabras">
                <p>Abaxial</p>
                <button class="Boton-Busqueda" id="btnOcultarAbaxial">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAbaxial">Mostrar Información</button>
            </div>

            <!-- 14 -->

            <div class="Palabras">
                <p>Agudo</p>
                <button class="Boton-Busqueda" id="btnOcultarAgudo">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAgudo">Mostrar Información</button>
            </div>

            <!-- 15 -->

            <div class="Palabras">
                <p>Abdominalgia</p>
                <button class="Boton-Busqueda" id="btnOcultarAbdominalgia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAbdominalgia">Mostrar Información</button>
            </div>

            <!-- 16 -->

            <div class="Palabras">
                <p>Aborto</p>
                <button class="Boton-Busqueda" id="btnOcultarAborto">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAborto">Mostrar Información</button>
            </div>

            <!-- 17 -->

            <div class="Palabras">
                <p>Abiotrofia</p>
                <button class="Boton-Busqueda" id="btnOcultarAbiotrofia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAbiotrofia">Mostrar Información</button>
            </div>

            <!-- 18 -->

            <div class="Palabras">
                <p>Ablefaria</p>
                <button class="Boton-Busqueda" id="btnOcultarAblefaria">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAblefaria">Mostrar Información</button>
            </div>

            <!-- 19 -->


            <div class="Palabras">
                <p>Abrasión</p>
                <button class="Boton-Busqueda" id="btnOcultarAbrasión">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAbrasión">Mostrar Información</button>
            </div>

            <!-- 20 -->

            <div class="Palabras">
                <p>Abreacción</p>
                <button class="Boton-Busqueda" id="btnOcultarAbreacción">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAbreacción">Mostrar Información</button>
            </div>

            <!-- 21 -->

            <div class="Palabras">
                <p>Abruptio placentae</p>
                <button class="Boton-Busqueda" id="btnOcultarAbruptioplacentae">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAbruptioplacentae">Mostrar Información</button>
            </div>

            <!-- 22 -->

            <div class="Palabras">
                <p>Absceso</p>
                <button class="Boton-Busqueda" id="btnOcultarAbsceso">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAbsceso">Mostrar Información</button>
            </div>

            <!-- 23 -->

            <div class="Palabras">
                <p>Amebiano</p>
                <button class="Boton-Busqueda" id="btnOcultarAmebiano">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAmebiano">Mostrar Información</button>
            </div>

            <!-- 24 -->

            <div class="Palabras">
                <p>Apendicular</p>
                <button class="Boton-Busqueda" id="btnOcultarApendicular">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarApendicular">Mostrar Información</button>
            </div>

            <!-- 25 -->

            <div class="Palabras">
                <p>Acasia</p>
                <button class="Boton-Busqueda" id="btnOcultarAcasia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcasia">Mostrar Información</button>
            </div>

            <!-- 26 -->

            <div class="Palabras">
                <p>Acantamebiasis</p>
                <button class="Boton-Busqueda" id="btnOcultarAcantamebiasis">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcantamebiasis">Mostrar Información</button>
            </div>

            <!-- 27 -->

            <div class="Palabras">
                <p>Acantocephala</p>
                <button class="Boton-Busqueda" id="btnOcultarAcantocephala">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcantocephala">Mostrar Información</button>
            </div>

            <!-- 28 -->

            <div class="Palabras">
                <p>Acantocitosis</p>
                <button class="Boton-Busqueda" id="btnOcultarAcantocitosis">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcantocitosis">Mostrar Información</button>
            </div>

            <!-- 29 -->

            <div class="Palabras">
                <p>Acatalasia</p>
                <button class="Boton-Busqueda" id="btnOcultarAcatalasia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcatalasia">Mostrar Información</button>
            </div>

            <!-- 30 -->

            <div class="Palabras">
                <p>Acetabularía</p>
                <button class="Boton-Busqueda" id="btnOcultarAcetabularía">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcetabularía">Mostrar Información</button>
            </div>
            <!-- 31 -->

            <div class="Palabras">
                <p>Acetanilida</p>
                <button class="Boton-Busqueda" id="btnOcultarAcetanilida">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcetanilida">Mostrar Información</button>
            </div>

            <!-- 32 -->

            <div class="Palabras">
                <p>Acetificar</p>
                <button class="Boton-Busqueda" id="btnOcultarAcetificar">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcetificar">Mostrar Información</button>
            </div>

            <!-- 33 -->

            <div class="Palabras">
                <p>Acetazolamida</p>
                <button class="Boton-Busqueda" id="btnOcultarAcetazolamida">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcetazolamida">Mostrar Información</button>
            </div>

            <!-- 34 -->

            <div class="Palabras">
                <p>Acetílcistelna</p>
                <button class="Boton-Busqueda" id="btnOcultarAcetílcistelna">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcetílcistelna">Mostrar Información</button>
            </div>

            <!-- 35 -->

            <div class="Palabras">
                <p>Acetilcolinesterasa</p>
                <button class="Boton-Busqueda" id="btnOcultarAcetilcolinesterasa">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcetilcolinesterasa">Mostrar Información</button>
            </div>

            <!-- 36 -->

            <div class="Palabras">
                <p>Aciclico</p>
                <button class="Boton-Busqueda" id="btnOcultarAciclico">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAciclico">Mostrar Información</button>
            </div>

            <!-- 37 -->

            <div class="Palabras">
                <p>Ácido</p>
                <button class="Boton-Busqueda" id="btnOcultarÁcido">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarÁcido">Mostrar Información</button>
            </div>

            <!-- 38 -->

            <div class="Palabras">
                <p>Acetílsalícilico</p>
                <button class="Boton-Busqueda" id="btnOcultarAcetílsalícilico">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcetílsalícilico">Mostrar Información</button>
            </div>

            <!-- 39 -->

            <div class="Palabras">
                <p>Acidofilico</p>
                <button class="Boton-Busqueda" id="btnOcultarAcidofilico">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcidofilico">Mostrar Información</button>
            </div>

            <!-- 40 -->

            <div class="Palabras">
                <p>Acidorresistente</p>
                <button class="Boton-Busqueda" id="btnOcultarAcidorresistente">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcidorresistente">Mostrar Información</button>
            </div>

            <!-- 41 -->

            <div class="Palabras">
                <p>Acidosis</p>
                <button class="Boton-Busqueda" id="btnOcultarAcidosis">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcidosis">Mostrar Información</button>
            </div>

            <!-- 42 -->

            <div class="Palabras">
                <p>Acinestesia</p>
                <button class="Boton-Busqueda" id="btnOcultarAcinestesia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcinestesia">Mostrar Información</button>
            </div>

            <!-- 43 -->

            <div class="Palabras">
                <p>Acinitis</p>
                <button class="Boton-Busqueda" id="btnOcultarAcinitis">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcinitis">Mostrar Información</button>
            </div>

            <!-- 44 -->


            <div class="Palabras">
                <p>Acinitis</p>
                <button class="Boton-Busqueda" id="btnOcultarAcinoso">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcinoso">Mostrar Información</button>
            </div>

            <!-- 45 -->

            <div class="Palabras">
                <p>Aclasia</p>
                <button class="Boton-Busqueda" id="btnOcultarAclasia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAclasia">Mostrar Información</button>
            </div>

            <!-- 46 -->

            <div class="Palabras">
                <p>Aclorhidria</p>
                <button class="Boton-Busqueda" id="btnOcultarAclorhidria">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAclorhidria">Mostrar Información</button>
            </div>

            <!-- 47 -->

            <div class="Palabras">
                <p>Acluofobia</p>
                <button class="Boton-Busqueda" id="btnOcultarAcluofobia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcluofobia">Mostrar Información</button>
            </div>

            <!-- 48 -->

            <div class="Palabras">
                <p>Acmé </p>
                <button class="Boton-Busqueda" id="btnOcultarAcmé">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcmé">Mostrar Información</button>
            </div>

            <!-- 49 -->

            <div class="Palabras">
                <p>Acmestesia</p>
                <button class="Boton-Busqueda" id="btnOcultarAcmestesia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcmestesia">Mostrar Información</button>
            </div>

            <!-- 50 -->

            <div class="Palabras">
                <p>Acné</p>
                <button class="Boton-Busqueda" id="btnOcultarAcné">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarAcné">Mostrar Información</button>
            </div>
            
            
            <div class="Palabras">
                <p>Mandibula</p>
                <button class="Boton-Busqueda" id="btnOcultarMandibula">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMandibula">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mandibulectomia</p>
                <button class="Boton-Busqueda" id="btnOcultarMandibulectomia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMandibulectomia">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>mandibulofaríngeo</p>
                <button class="Boton-Busqueda" id="btnOcultarmandibulofaríngeo">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarmandibulofaríngeo">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mandragora</p>
                <button class="Boton-Busqueda" id="btnOcultarMandragora">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMandragora">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Manifalange</p>
                <button class="Boton-Busqueda" id="btnOcultarManifalange">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarManifalange">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Marasmo</p>
                <button class="Boton-Busqueda" id="btnOcultarMarasmo">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMarasmo">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Marcado</p>
                <button class="Boton-Busqueda" id="btnOcultarMarcado">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMarcado">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Marcapasos</p>
                <button class="Boton-Busqueda" id="btnOcultarMarcapasos">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMarcapasos">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Marcar</p>
                <button class="Boton-Busqueda" id="btnOcultarMarcar">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMarcar">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Malcalina</p>
                <button class="Boton-Busqueda" id="btnOcultarMalcalina">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMalcalina">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Marsupialización</p>
                <button class="Boton-Busqueda" id="btnOcultarMarsupialización">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMarsupialización">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Marginación</p>
                <button class="Boton-Busqueda" id="btnOcultarMarginación">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMarginación">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Marginoplastia</p>
                <button class="Boton-Busqueda" id="btnOcultarMarginoplastia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMarginoplastia">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Marihuana</p>
                <button class="Boton-Busqueda" id="btnOcultarMarihuana">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMarihuana">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mariposa</p>
                <button class="Boton-Busqueda" id="btnOcultarMariposa">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMariposa">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Martillo</p>
                <button class="Boton-Busqueda" id="btnOcultarMartillo">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMartillo">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Masa</p>
                <button class="Boton-Busqueda" id="btnOcultarMasa">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMasa">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Masaje</p>
                <button class="Boton-Busqueda" id="btnOcultarMasaje">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMasaje">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mascara</p>
                <button class="Boton-Busqueda" id="btnOcultarMascara">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMascara">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Masculinización</p>
                <button class="Boton-Busqueda" id="btnOcultarMasculinización">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMasculinización">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Masculino</p>
                <button class="Boton-Busqueda" id="btnOcultarMasculino">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMasculino">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Máser</p>
                <button class="Boton-Busqueda" id="btnOcultarMáser">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMáser">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Masoquismo</p>
                <button class="Boton-Busqueda" id="btnOcultarMasoquismo">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMasoquismo">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mastadenovirus</p>
                <button class="Boton-Busqueda" id="btnOcultarMastadenovirus">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMastadenovirus">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mastectomia</p>
                <button class="Boton-Busqueda" id="btnOcultarMastectomia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMastectomia">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mastigophora</p>
                <button class="Boton-Busqueda" id="btnOcultarMastigophora">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMastigophora">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mastitis</p>
                <button class="Boton-Busqueda" id="btnOcultarMastitis">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMastitis">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mastocitoma</p>
                <button class="Boton-Busqueda" id="btnOcultarMastocitoma">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMastocitoma">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mastocitos</p>
                <button class="Boton-Busqueda" id="btnOcultarMastocitos">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMastocitos">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mastocitosis</p>
                <button class="Boton-Busqueda" id="btnOcultarMastocitosis">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMastocitosis">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mastoidectomia</p>
                <button class="Boton-Busqueda" id="btnOcultarMastoidectomia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMastoidectomia">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mastoides</p>
                <button class="Boton-Busqueda" id="btnOcultarMastoides">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMastoides">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mastoiditis</p>
                <button class="Boton-Busqueda" id="btnOcultarMastoiditis">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMastoiditis">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mastoidotomia</p>
                <button class="Boton-Busqueda" id="btnOcultarMastoidotomia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMastoidotomia">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mastopatia</p>
                <button class="Boton-Busqueda" id="btnOcultarMastopatia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMastopatia">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mastopexia</p>
                <button class="Boton-Busqueda" id="btnOcultarMastopexia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMastopexia">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mastoptosis</p>
                <button class="Boton-Busqueda" id="btnOcultarMastoptosis">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMastoptosis">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mastotomia</p>
                <button class="Boton-Busqueda" id="btnOcultarMastotomia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMastotomia">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Masturbación</p>
                <button class="Boton-Busqueda" id="btnOcultarMasturbación">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMasturbación">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Materia</p>
                <button class="Boton-Busqueda" id="btnOcultarMateria">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMateria">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Maternidad</p>
                <button class="Boton-Busqueda" id="btnOcultarMaternidad">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMaternidad">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Matidez</p>
                <button class="Boton-Busqueda" id="btnOcultarMatidez">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMatidez">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Matraz</p>
                <button class="Boton-Busqueda" id="btnOcultarMatraz">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMatraz">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Matrilineal</p>
                <button class="Boton-Busqueda" id="btnOcultarMatrilineal">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMatrilineal">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Matriz</p>
                <button class="Boton-Busqueda" id="btnOcultarMatriz">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMatriz">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Matrona</p>
                <button class="Boton-Busqueda" id="btnOcultarMatrona">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMatrona">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Maxilar</p>
                <button class="Boton-Busqueda" id="btnOcultarMaxilar">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMaxilar">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Maxilofacial</p>
                <button class="Boton-Busqueda" id="btnOcultarMaxilofacial">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMaxilofacial">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Mayeusiofobia</p>
                <button class="Boton-Busqueda" id="btnOcultarMayeusiofobia">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMayeusiofobia">Mostrar Información</button>
            </div>

            <div class="Palabras">
                <p>Meato</p>
                <button class="Boton-Busqueda" id="btnOcultarMeato">Ocultar Información</button>
                <button class="Boton-Busqueda" id="btnMostrarMeato">Mostrar Información</button>
            </div>





        </div>
        <!---------------------------------------------------------------------------------------------------------------------------------------->
        <!---------------------------------------------------------------------------------------------------------------------------------------->
        <!---------------------------------------------------------------------------------------------------------------------------------------->


        </div>


</body>
<script src="\js\Buscador.js"></script>
<script src="\js\js1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        $(".loader").fadeOut("slow");
    });
</script>

</html>