<!DOCTYPE html>
<html lang="en">

<head>
    <title>Programacion</title>
    <%- include("partials/header.ejs")%>
    <%- include("partials/estilos.ejs")%>
</head>

<body>

    <div id="Funcion-Buscador"></div>

    <div class="container-all" id="move-content">

        </div>

        <div class="Temas">
            <a class="Temas-Mostrar" href=""> Inicio </a>
            <a class="Temas-Mostrar" href=""> Tema 1 </a>
            <a class="Temas-Mostrar" href=""> Tema 2 </a>
            <a class="Temas-Mostrar" href=""> Tema 3 </a>
            <a class="Temas-Mostrar" href=""> Tema 4 </a>
            <a class="Temas-Mostrar" href=""> Tema 5 </a>
        </div>

        <div class="Contenido Fondo">
            <div class="Saludo">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, ipsa reiciendis mollitia quos eaque
                aperiam sunt hic repudiandae cum fuga, nam dolorum modi distinctio eveniet reprehenderit accusamus adipisci velit ullam!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, ipsa reiciendis mollitia quos eaque
                aperiam sunt hic repudiandae cum fuga, nam dolorum modi distinctio eveniet reprehenderit accusamus adipisci velit ullam!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, ipsa reiciendis mollitia quos eaque
                aperiam sunt hic repudiandae cum fuga, nam dolorum modi distinctio eveniet reprehenderit accusamus adipisci velit ullam!
                <br> <br> <br>
                ¡Contactanos! <br>
                Número de telefono: 111111111 <br>
                Pág. Facebook: 1111111 <br>
                
            </div>
        </div>
    </div>


</body>
<script src="/js/Buscador.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        $(".loader").fadeOut("slow");
    });
</script>

</html>